@charset "utf-8";
/**
 * Yo框架全局Variables
 * Yo基础变量map，如果不想定义某属性，将其value设置为null；
 * Yo仅使用2种长度单位：px用于边框，rem用于除边框之外的所有地方
 * variables中map使用“_”开头，本文件中不使用"_"
 * variables ⇌ config
 */
// Element Button(18)
$btn: (
  // {Color} Length
        border-width:   10px,
  // {Color} 边框色
        border-color:   #d36105,
  // {Color} 背景色
        bgcolor:        #ff801a,
  // {Color} 文本色
        color:          #fff,
  // {Color} 激活时边框色
        active-border-color: null,
  // {Color} 激活时背景色
        active-bgcolor:      null,
  // {Color} 激活时文本色
        active-color:        null,
  // {Length} 内补白(使用em让根据字号动态调整)
        padding:        0 1.2em,
  // {Length} 圆角半径
        radius:         .05rem,
  // {Length} 字号
        font-size:      null,
  // {Length} 宽度
        width:          null,
  // {Length} 高度
        height:         null,
  // {Length} 默认预设3种尺寸按钮：
  // small
        s-height:       .28rem,
        s-font-size:    .12rem,
  // medium
        m-height:       .36rem,
        m-font-size:    .14rem,
  // large
        l-height:       .44rem,
        l-font-size:    .16rem
);